:root {
    --accent-color: #ff7e1b;
    --accent-color-hover: #ffab6a;
    --accent-color-light: #ffeee2;
    --text-color: #69707d;
    --text-color-dark: #1d2026;
    --bg-light: #f6f8fd;
    --devider-bg: #e4e9f2;
}


/* FONTS */
@font-face {
    font-family: 'Kumbh Sans';
    src: url('/fonts/KumbhSans-Regular.woff2') format('woff2'),
        url('/fonts/KumbhSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('/fonts/KumbhSans-Bold.woff2') format('woff2'),
        url('/fonts/KumbhSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Kumbh Sans', 'Arial', sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* .VISUALLY HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* LOGO */

.logo {
    display: inline-block;
    flex-shrink: 0;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 137px;
    height: 20px;
    object-fit: contain;
}


/* SITENAV */
.sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__item {
    position: relative;
    padding-top: 41px;
    padding-bottom: 45px;
}

.sitenav__item:not(:last-child) {
    margin-right: 32px;
}

.sitenav__link {
    display: block;
    font-size: 15px;
    line-height: 26px;
    color: var(--text-color);
    text-decoration: none;
}

.sitenav__link:hover {
    color: var(--text-color-dark);
}

.sitenav__link:hover::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    content: '';
}


/* SHOPPING CART */
.shooping-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 256px;
    border-radius: 6px;
    background-color: #fff;
}

.shooping-cart--modal {
    flex-grow: 1;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.50);
}

.shooping-cart__header {
    padding: 24px 24px 27px;
    border-bottom: 1px solid var(--devider-bg);
}

.shooping-cart__title {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color-dark);
}

.shopping-cart__inner {
    display: flex;
    flex-direction: column;
    padding: 24px;
    flex-grow: 1;
}

.shopping-cart__empty {
    display: none;
}

.shooping-cart--empty .shopping-cart__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-weight: bold;
}

.shopping-cart-products {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shopping-cart-products__item:not(:last-child) {
    margin-bottom: 16px;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.1s ease;
}

.button:hover {
    background-color: var(--accent-color-hover);
}

.button:active {
    transform: translateY(2px);
}

.button--wide {
    min-width: 272px;
}

.button--block {
    display: flex;
    width: 100%;
}

.button__inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 18px 20px;
}

.button__prepend {
    margin-right: 16px;
}


/* ITEM-SHOPPING-CART-PRODUCTS */
.item-shopping-cart-products {
    display: flex;
    align-items: flex-start;
}

.item-shopping-cart-products__img {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 6px;
}

.item-shopping-cart-products__info {
    flex-grow: 1;
    width: 100%;
    margin-right: 18px;
    overflow: hidden;
}

.item-shopping-cart-products__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.item-shopping-cart-products__subtotal {
    color: var(--text-color-dark);
}

.item-shopping-cart-products__remove-button {
    border: 0;
    padding: 0;
    background-color: transparent;
    align-self: center;
    cursor: pointer;
    color: #c3cad9;
}

.item-shopping-cart-products__remove-button:hover {
    color: var(--text-color-dark);
}

.item-shopping-cart-products__remove-button:active {
    opacity: 0.6;
}

.item-shopping-cart-products__remove-icon {
    display: block;
    width: 14px;
    height: 16px;
}


/* SITE HEADER */
.site-header__container {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--devider-bg);
}

.site-header__logo {
    margin-right: 56px;
    margin-bottom: 10px;
}

.site-header__sitenav {
    margin-right: auto;
}

/* SHOPPING CART */
.site-header__cart {
    margin-left: 24px;
    margin-right: 46px;
}

.site-header__cart-link {
    display: flex;
    position: relative;
    color: var(--text-color);
    text-decoration: none;
}

.site-header__cart-link:hover {
    color: var(--text-color-dark);
}

.site-header__cart-link:active {
    opacity: 0.6;
}

.site-header__cart-product-count {
    display: none;
}

.site-header__cart--empty .site-header__cart-product-count {
    position: absolute;
    top: -6px;
    left: calc(100% - 13px);
    padding: 1px 6px;
    font-size: 10px;
    line-height: normal;
    font-weight: bold;
    border-radius: 7px;
    color: #fff;
    background-color: var(--accent-color);
}

.site-header__cart-icon {
    width: 22px;
    height: 20px;
    object-fit: contain;
}

.site-header__profile-link {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    border: 2px solid transparent;
}

.site-header__profile-link:hover {
    border-color: var(--accent-color);
}

.site-header__profile-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.site-header__cart-modal {
    position: absolute;
    right: -76px;
    top: 94px;
    width: 360px;
}

.shopping-cart__products {
    margin-bottom: 24px;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}




/* RETINA */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}